TURSO_DATABASE_URL=libsql://hoteleria-herrejose.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODkzMDU5NjYsImlkIjoiMDFhMDlhZjEtZDAwMS03M2YwLThmOTYtN2E1YzkzMTI2NDIwIiwia2lkIjoidnM2Yl9rSmo5eXJSQkdqMXQ0WWhBUnlWcVg0Tmx6LXp2elhYeHVLQnV6RSIsInJpZCI6ImU2ZmYzZjc5LWM0MDQtNDU5MC04OWE0LTA0ZDViMmFjYWQ0ZSJ9.RrSC_Z3gX5fGq--mdPp5eD8cgDAgfyTW9kW01CKF2-ntDQaxMQSxfbp4Vq7TyFzwKg44Dz3PQ7XY6wxYlIZTDw
R2_ACCOUNT_ID=da7c23add0ce839e4989c068fbfa4394
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=hoteleria
R2_PUBLIC_URL=https://pub-49558c729b6b41ec952687ab33845c74.r2.dev
JWT_SECRET=super_secreto_para_firmar_tokens_jwt_saas_hoteles_2026
